.about-section {
    display: flex;
    align-items: center;
    padding: 150px;
    background-color: #fdfafb;
  }
  
  .about-image img {
    width: 290px;
    height: 250px;
    border-radius: 50%;
  }
  
  .about-content p {
    margin-left: 30px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    /* font-weight: bold; */
    font-size: 1.4em;
  }
  .about-content h2{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
    font-size: 3em;

  }  
  
  .about-content .linke a {
    display: inline-block;
    margin-top: 10px;
   margin-left: 20px;
    background-color: #f3a7deb1;
    color: #31041c;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    text-align: center;
  }
  
  .about-content .linke a:hover {
    background-color: #ed8eac;
    color: #31041c;
    transform: scale(1.1);
    outline: 2px solid #ec9bb7;
    box-shadow: 4px 5px 17px -4px #862852;
    
  }