/* 
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0;
  background-color: #f7d8f116; 
  box-shadow: 0 4px 8px rgba(174, 40, 100, 0.144);
  height: 10vh;
  width: auto;
  flex-wrap: wrap;
} */

/* .header .logo {
  display: flex;
  align-items: center;
  height: 10vh;
  justify-content: space-around;
 
}

.header .logo img {
  width: 70px;
}
.dropbtn{
  list-style: none; 
}
.header .navLinks {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none; 
}

.header .navLinks a {
  color: #420722;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 1.7rem;
  list-style: none; 
}

.header .navLinks a:hover {
  color: #f0a8cd; 
} 


.buttonLog {
  flex-wrap: wrap;
  margin-right: 10px;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #6d1047;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #76094b;
  background-color: #f3c8de88;
}

.buttonLog:hover {
  color: #3a0217;
  transform: scale(1.1);
  outline: 2px solid #ec9bb7;
  box-shadow: 4px 5px 17px -4px #862852;
}

.buttonLog::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #f5c5e0;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.buttonLog:hover::before {
  width: 250%;
}
.overplay{
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  border: 1px solid red;
}

@media (max-width: 768px) {
  .header {
      flex-direction: column; 
      align-items: center;
      height: auto;
      padding: 10px;
  }

  .header .logo img {
      width: 180px;
  }

  .header .nav {
      justify-content: center; 
      gap: 10px;
  }

  .header .nav a {
      font-size: 1.2rem;
     
  }
}


@media (max-width: 480px) {
  .header .nav a {
      font-size: 1rem;
  } */
/* } */
a {
  text-decoration: none; 
  color:#3a0217;
 }
  button {
  border: 0; 
 outline: none;
  font-family: inherit; 
 font-size: inherit; 
 cursor: pointer; 
 } 
 .navbar { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
 } 
 .navbar
  .logo i { 
 color: #0aa5ff;
  font-size: 22px;
  }
  .header .logo  {
    width: 28%;
    padding: 0;
    margin: 0;
  }
 .navbar  a {
  font-size: 24px;
  font-weight: 700; 
 color: rgb(55, 3, 79); 
 margin-left: 12px; 

 } 
 
 .menu { 
 display: flex; 
 align-items: center; 
 gap: 32px; 
 list-style: none;
 border: 1px solid yellow;
 }
  .menu-links { 
 display: flex; 
 gap: 24px;
  border-right: 1px solid #999999; 
 padding-inline: 24px; 
 } 
 .menu-links  {
  font-weight: 300;
  color: #23042d;
  list-style: none;
  display: flex;
  justify-content: space-between;
 
 } 
 .menu-links a:hover { 
 color: rgb(245, 115, 167); 
 }
 .dropdown{
  list-style: none;
  margin-top: 1.8%;
 }
 .dropbtn{
  background-color: transparent;
  font-size: 24px;
  font-weight: 700; 
 color: rgb(55, 3, 79); 
 margin-top: 0;
 padding: 0;

 }
 .log-in {
  font-weight: 500; 
 padding: 12px 22px;
  background-color: transparent;
  color: #999999; 
 border-radius: 10px;
  border: 2px solid #260141;
  transition: 0.2s;
  }
 .log-in:hover { 
 background-color: #f47fe2; 
 color: white; 
 }
  .menu-btn { 
 font-size: 32px; 
 color: white;
  display: none; 
 cursor: pointer;
  }

  .buttonLog {
    flex-wrap: wrap;
    margin-right: 10px;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #6d1047;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #76094b;
    background-color: #f3c8de88;
  }
  
  .buttonLog:hover {
    color: #3a0217;
    transform: scale(1.1);
    outline: 2px solid #ec9bb7;
    box-shadow: 4px 5px 17px -4px #862852;
  }
  
  .buttonLog::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #f5c5e0;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .buttonLog:hover::before {
    width: 250%;
  }
  
  @media (max-width: 53rem) {
  .menu {
  display: none; 
 }
  .menu-btn { 
 display: block; 
 }
  }
 
 