body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}


.footer {
  background: rgb(239,199,217);
  background: linear-gradient(90deg, rgb(249, 189, 216) 0%, rgba(248,241,243,1) 38%, rgba(248,241,243,1) 54%, rgb(236, 192, 248) 79%); 
  color: #333; 
  /* padding: 40px 20px; */
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #b6d7a8;
  font-size: 1.5rem;
  width: auto;
  height: 100%;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap; 
  max-width: 1200px; 
  width: 100%;
  gap: 20px;
  font-size: 1.5rem;
}


.footer-left {
  flex: 1;
  min-width: 200px;
  font-size: 1.5rem;
}

.footer-logo {
  width:250px;
  margin-bottom: 10px;

}


.social-media a {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
}

.social-media a:hover {
  color: #f37689;
}


.footer-center {
  flex: 1;
  min-width: 150px;
  font-size: 1.5rem;
  gap: 20px;
}


.footer-right {
  flex: 1;
  min-width: 150px;
  font-size: 1.5rem;
  gap: 20px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  font-size: 1.5rem;
}

.footer-links li {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.footer-links a {
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer-links a:hover {
  color: #f37689;
}


.footer-bottom {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
  border-top: 1px solid #b6d7a8;
  padding-top: 10px;
  width: 100%;
  font-size: 1.5rem;
}