
.hero-section {
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  
 /* HeroSection.css */

/* .hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../images/hero-bg.jpg'); 
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
} */

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-content p {
  font-size: 1.5rem;
  margin: 10px 0 10px;
}

.buttonSign {
  /* margin-right: 10px; */
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #6d1047;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #76094b;
  background-color: #f3c8de23;
 margin-top: 10px;
}

.buttonSign:hover {
  color: #3a0217;
  transform: scale(1.1);
  outline: 2px solid #ec9bb7;
  box-shadow: 4px 5px 17px -4px #862852;
}

.buttonSign::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #f5c5e0;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.buttonSign:hover::before {
  width: 250%;
}
.overplay{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  
}

  @media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-buttons .buttonSin {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}
