html,body{
    height: 100vh;
    width: 100%;
}
.form{
   /* background-color: #9de99fac;
   background: rgba(222, 250, 218, 0.853) url("../style/pics/loginback.jpeg");  */
   background: rgb(239,199,217);
   background: linear-gradient(90deg, rgb(249, 189, 216) 0%, rgba(248,241,243,1) 38%, rgba(248,241,243,1) 54%,rgb(236, 192, 248) 79%);
   background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;

}
   .forme-container{
    background-color: transparent;
     padding: 20px;
    border-radius: 20px;
    border: 2px solid #f1b1d771;
    box-shadow: 1px 1px 10px rgba(239, 137, 227, 0.521);
    width: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
    padding: 100px;
    margin: 50px 100px 100px 100px;
    backdrop-filter: blur(10px);

}
  
.input{
    padding: 20px;
    border-radius: 4px;
    font-size: 20px;

}
.btn-log {
    --color: #210218;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .btn-log::before, .btn-login::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .btn-log::before {
    top: -1em;
    left: -1em;
   }
   
   .btn-log::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .btn-log:hover::before, .btn-login:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .btn-log:hover {
    color: rgb(238, 156, 213);
   }
   
   .btn-log:active {
    filter: brightness(.8);
   }
 

.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
  }
  
  .input
  {
    font-family: inherit;
    width: 100%;
    border: none;
  
    outline: 0;
    font-size: 17px;
    color: #2f0723;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .input::placeholder {
    color: transparent;
  }
  
  .input:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #f4abd9;
    pointer-events: none;
  }
  
  .input:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #af2090, #8e0557);
    border-image-slice: 1;
  }
  
  .input:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #090909;
    font-weight: 700;
  }
  

  .input:required, .input:invalid {
    box-shadow: none;
  }
  .forme-container h1{
    color: #3d0328;
    letter-spacing: 10px;
  }